.settingPg{
    display: flex;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    flex-direction: column;
}
 

.settingRightSide{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 0;

}
.settingTitle{
    font-size: 40px;
    font-weight: bold;
    display: flex;
    margin-right:20px;
    margin-left: auto;

}
.settingMyInfoWrap, .settingChat{
    display: flex;
    width:80%;
    margin: 30px;
    flex-direction: column;
}
.settingMyInfoTitle, .settingChatTitle{
    font-size: 30px;
    font-weight: bold;
    width:100%;
    display: flex;
}
.settingLine{
    width: 100%;
    text-align: center;
    border-bottom: 1.5px solid #A0A0A0;
    line-height: 0.3em;
    margin: 5px 0 5px;
}
.settingEditWrap{
    display: flex;
    flex-direction: row;
    
}
.editTypeWrap{    
    width:150px;

}
.editType{
    font-size: 16px;
    font-weight: bold;
    margin:15px 0;
}
.editedWrap{
    flex-direction: column;
    width: 100%;
}
.edited{
    font-size: 16px;
    margin:15px;
}
.editBtn{
    background-color: rgb(0,0,0,0);
    color: gray;
    width: 100px;
    font-size: 14px;
    height:30px;
    margin-left: auto;
    margin-right: 0;
    margin-top: auto;
    border-color: rgb(0,0,0,0);
    cursor: pointer;
}
.editInput{
    font-size: 16px;
    margin-top: 9px;
    border-radius: 10px;
    outline:none;
    border-color: #A0A0A0;
    border-width: 1px;
    background-color: rgb(0,0,0,0);
    height: 20px;
    width: 150px;
}
.editCompleteBtn{
    background-color: #78350F;
    color: white;
    font-weight: bold;
    width: 70px;
    font-size: 14px;
    height:30px;
    margin-left: auto;
    margin-right: 10px;
    margin-top: auto;
    border-color: rgb(0,0,0,0);
    border-radius: 10px;
    cursor: pointer;
}
.settingDeleteChat{
    width: 200px;
    height: 30px;
    text-align: start;
    margin:10px;
    color: red;
    font-weight: 500;
    font-size: 15px;
    background-color: rgb(0,0,0,0);
    border-color: rgb(0,0,0,0);
    cursor: pointer;
}
.settingLogout{
    font-size: 15px;
    font-weight: 550;
    background-color: rgb(0,0,0,0);
    border-color: rgb(0,0,0,0);
    cursor: pointer;
    color: gray;
}